@media only screen and (max-width: 700px) {
    body {
        background-attachment: fixed;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');

/* Home & Nav */

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,100;1,600&display=swap');
h2 {
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
}

#landing {
    background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(/images/Background\ cover\ image.jpg);
    background-size: cover;
    background-attachment: fixed !important;
    background-position: 0;
    object-fit: cover;
}


/* nav */

.navbar-nav {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 25px;
}


/* End */


/* end */


/* about */

#about {
    background-color: #eaaa76;
}

.abt {
    background-color: #e27743;
    font-weight: bold;
    box-shadow: 0 0px 10px;
    border-radius: 0%;
}

.txtabt {
    color: white;
    font-weight: bold;
    font-size: 15px;
    background-color: #e27743 !important;
    box-shadow: 0 0px 10px;
    border-radius: 0%;
}


/* end */


/* education */

#education {
    background-color: #eaaa76;
}

.eduex {
    background-color: #e27743;
    font-weight: bold;
    box-shadow: 0 0px 10px;
    border-radius: 0%;
}


/* skills */

#skills {
    background-color: #eaaa76;
}

.skl {
    background-color: #e27743;
    font-weight: bold;
    box-shadow: 0 0px 10px;
    border-radius: 0%;
}


/* end */


/* projects */

#projects {
    background-color: #eaaa76;
}

.prj {
    background-color: #e27743;
    font-weight: bold;
    box-shadow: 0 0px 10px;
    border-radius: 0%;
}


/* end */


/* Testimonials */

#testimonials {
    background-color: #eaaa76;
}

.tst {
    background-color: #e27743;
    font-weight: bold;
    box-shadow: 0 0px 10px;
    border-radius: 0%;
}

.cpics {
    position: relative;
    width: 40%;
    height: 40%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
    object-position: 0px 0px;
}

#carouselpg {
    align-items: center;
    justify-items: center;
    height: 60%;
    width: 60%;
    border-radius: 50%;
}


/* end */


/* contact me */

#contact {
    background-color: #eaaa76;
}

.cnt {
    background-color: #e27743;
    font-weight: bold;
    box-shadow: 0 0px 10px;
    border-radius: 0%;
}


/* end */